<div class="container form-signin">
	<form action="/login" method="post">
		<div class="row-fluid">
			<div class="span8">
				<h2 class="form-signin-heading">
					<a href="/signup">Sign up</a>
				</h2>
				<h2 class="form-signin-heading">or</h2>
				<h2 class="form-signin-heading">Login</h2>
			</div>
			<div>
				<img src="/images/jfarm-logo.png" class="jfarm-logo"></div>
		</div>
		<div id="login-error"><%- error %></div>
		<input id="username" type="text" name="username" placeholder="User name" class="input-block-level" value="trax2hd">
		<input id="password" type="password" name="password" placeholder="Password" class="input-block-level" value="test">
		<label name="remember" class="checkbox">
			Remember me
			<input id="remember" type="checkbox" name="remember"></label>
		<button id="btn-login" type="submit" class="btn btn-large btn-primary">Login</button>
	</form>
</div>