<div class="container form-signin">
	<form action="/signup" method="POST" id="subscribe-form">
		<label for="username">Username</label>
		<input id="username" name="username" type="text" placeholder="username" required class="input-block-level">
		<label for="email">Email</label>
		<input id="email" name="email" type="email" placeholder="email" required class="input-block-level">
		<label for="password">Password</label>
		<input id="password" name="password" type="password" placeholder="Password" required class="input-block-level">
		<button type="submit" class="btn btn-large btn-primary">Sign up</button>
	</form>
</div>