<div class="content clear-fix">
	<h2 class="title">Game Settings<span class="line"></span></h2>
	<a href="/settings/appobject">> App Objects</a>
	<br />
	<a href="/settings/gameproperty">> Games Properties</a>
</div>