<div class="content clear-fix">
	<h1 class="title">Contact<span class="line"></span></h1>
	<h3>Decosne Damien</h3>
	<img src="images/contact/damien.png" alt="">
	<div id="social" class="ss-icon">
	</div>
	<hr>
	<h3>Asdrubal Justin</h3>
	<img src="images/contact/justin.png" alt="">
	<hr>
	<h3>Martin Pierrick</h3>
	<img src="images/contact/pierrick.png" alt="">
</div>