<div class="content clear-fix">
	<h1 class="title">Contact<span class="line"></span></h1>
	<div class="contact clear-fix">
		<div class="pull-left w15p">
			<img src="images/contact/damdirt.png" alt="">
		</div>
		<div class="pull-left w80p">
			<h3>Decosne Damien</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, eveniet, voluptas, iusto amet at fuga aliquam fugit impedit perferendis necessitatibus.</p>
			<div id="social" class="icons">
				<a class="email" href="mailto:damien.decosne@gmail.com"></a>
				<a class="twitter" href="https://twitter.com/Damdirt" target="_blank"></a>
				<a class="github" href="https://github.com/damdirt/jFarm" target="_blank"></a>
			</div>
		</div>
	</div>
	<div class="contact clear-fix">
		<div class="pull-left w15p">
			<img src="images/contact/trax2hd.png" alt="">
		</div>
		<div class="pull-left w80p">
			<h3>Asdrubal Justin</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, eveniet, voluptas, iusto amet at fuga aliquam fugit impedit perferendis necessitatibus.</p>
			<div id="social" class="icons">
				<a class="email" href="mailto:lesid71@gmail.com"></a>
				<a class="twitter" href="https://twitter.com/Ju_Asdru" target="_blank"></a>
				<a class="github" href="https://github.com/damdirt/jFarm" target="_blank"></a>
			</div>
		</div>
	</div>
	<div class="contact clear-fix">
		<div class="pull-left w15p">
			<img src="images/contact/sidouu.png" alt="">
		</div>
		<div class="pull-left w80p">
			<h3>Martin Pierrick</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, eveniet, voluptas, iusto amet at fuga aliquam fugit impedit perferendis necessitatibus.</p>
			<div id="social" class="icons">
				<a class="email" href="mailto:justin.asdrubal@gmail.com"></a>
				<a class="twitter" href="https://twitter.com/Sidouu71" target="_blank"></a>
				<a class="github" href="https://github.com/damdirt/jFarm" target="_blank"></a>
			</div>
		</div>
	</div>
</div>