<section>
	<div class="buttons clear-fix">
	   <button class="button pull-left" title="move player's ass"><i class="icon-screenshot"></i></button>
	   <button class="button pull-left" title="select fucking object"><i class="icon-hand-up"></i></button>
	   <button class="button pull-left">?</button>
	   <button class="button pull-left">?</button>
	</div>
	<div id="canvas-wrapper">
		<canvas id="maincanvas" width="1200" height="500" onmousemove="jfarm.mousemove(event);"></canvas>
	</div>
</section>
<script src="js/jfarm.js"></script>