<div class="content clear-fix">
	<h1 class="title">Profile<span class="line"></span></h1>
	<div class="col pull-left w300">
		<h2 class="title">User<span class="line"></span></h2>
		Username : <div class="profileLabel"><%= user.username %></div>
		Email : <div class="profileLabel"><%= user.email %></div>
		Username : <div class="profileLabel"><%= user.username %></div>
	</div>
	<div class="col pull-left w300">
		<h2 class="title">Player<span class="line"></span></h2>
		<canvas></canvas>
	</div>
</div>