<div class="content clear-fix">
	<h1 class="title">Game Properties<span class="line"></span></h1>
	<div class="clear-fix">
		<div class="col pull-left w300">
			<h2 class="title">Form<span class="line"></span></h2>
			<form action="/settings/gameproperty/createEdit" method="post" id="appObject_form" class="standard-form">
				<input type="hidden" value="create" id="method" name="method" />
				<input type="hidden" value="" id="id" name="id" />
				<div class="controls">
					<label for="name">name</label>
					<input id="name" name="name" type="text" placeholder="name" class="boot-input" required></div>
				<div class="controls">
					<label for="value">value</label>
					<textarea id="value" name="value" required="true"></textarea>
				</div>
				<hr>
				<button type="submit" class="btn-flat btn-flat-green">Save property</button>
			</form>
		</div>
		<div class="col pull-left w300">
			<h2 class="title">Properties<span class="line"></span></h2>
			<div class="pag-objects">
				<div class="objects-list">
					<% _.each(gameProperties, function (prop) { %>
					<div class="object-line">
						<div class="object-cell">
							<%= prop.name %> : <%= prop.content %> 
						</div>
						<div class="object-cell">
							<a href="javascript:void(0)" class="action-get" data-id="<%= prop.id %>" data-url="/gameproperty/find/">Edit</a>
						</div>
						<div class="object-cell">
							<a href="javascript:void(0)" class="action-delete" data-id="<%= prop.id %>" data-url="/gameproperty/destroy/">Delete</a>
						</div>
					</div>
					<% }) %>
				</div>
				<hr>
				<div class="page_navigation"></div>
			</div>
		</div>
	</div>
	<hr>
	<a href="../settings" title="Game Settings">> Back to game settings</a>
</div>