@charset "utf-8";

/* ---------- COMMON STYLES ---------- */

html, body, section {
    height: 100%;
}

body > section {
    height: auto; min-height: 100%;
}

body {
    background-color: #EEEEEE;
    color: #58595B;
    font-family: "PT Sans";
    font-size: 10pt;
    margin: 0 auto;
    width: 1200px;
}

img {
	border: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

h1 {
    font-size: 16pt;
}

h2 {
    font-size: 14pt;
}

h3 {
    font-size: 12pt;
}

hr {
    background-color: #CFCFCF;
    border: 0 none;
    color: #CFCFCF;
    height: 1px;
    margin: 20px 0;
}

.title {
    border-bottom: 1px solid #CFCFCF;
    color: #495461;
    font-family: 'PT Sans';
    padding: 5px 0 10px;
}

h2.title {
    margin-bottom: 30px;
}

.line {
    background: none repeat scroll 0 0 #495461;
    display: block;
    height: 4px;
    margin: 7px 0 -11px;
    width: 50px;
}

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.col {
    padding: 20px 100px;
    min-height: 300px;
}

.w120 {
    width: 120px;
}
.w230 {
    width: 230px;
}

.w250 {
    width: 250px;
}

.w300 {
    width: 300px;
}

.w500 {
    width: 480px;
}

.w15p {
    width: 15%;
}

.w80p {
    width: 80%;
}

.p10 {
    padding: 10px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: local("PT Sans"), local("PTSans-Regular"), url("http://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff") format("woff");
}

/* ---------------------------------------------------- */
/*    INTERFACE STYLES
/* ---------------------------------------------------- */

header {
    width: 1200px;
}

header > nav {
	width: 100%;
	height: 60px;
	background-color: #3C454F;
}

header > nav ul li {
	float: left;
}

header > nav.main ul li:last-child {
	float: right;
}

header > nav ul li a {
	color: #FFFFFF;
    display: block;
    padding: 21px;
    text-decoration: none;
}

header > nav.main ul li a:hover {
	background-color: #495461;
}

header > nav.main ul li a.active {
	background-color: #495461;
}

header > nav.sub {
	background-color: #495461;
    height: 60px;
    position: absolute;
    width: 1200px;
    z-index: 20;
}

header > nav.sub ul li a:hover {
	color: #7ACBF2;
}

header > nav.sub ul li a.active {
	color: #7ACBF2;
}

header > nav.sub:last-child {
    height: auto;
    margin-left: 1000px;
    position: absolute;
    width: 200px;
}

li.sep {
    border-top: 1px solid #94979A;
    width: 150px;
    margin-left: 25px;
}

/* ---------- BOTTOM ACTIONS STYLES ---------- */

footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear:both;
    background-color: #3C454F;
    color: #FFFFFF;
}

.copyright {
    float: left;
    line-height: 40px;
    padding-left: 15px;
    position: absolute;
}

.round {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #e83c3c;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 8px #333333;
    cursor: pointer;
    display: none;
}

.game .round {
    display: block;
}

.off {
    background-color: #7EBD26;
}

#content-actions {
    background-color: #3C454F;
    position: absolute;
    bottom: 40px;
    width: 1190px;
    color: #FFFFFF;
}

.borders-action {
    border-left: 5px solid #52A8EC;
    border-right: 5px solid #7EBD26;
}

#content-actions .block:first-child {
    margin-right: 10px;
}

#content-actions #playercanvas {
    position: absolute;
}

#content-actions #mapcanvas {
    position: absolute;
}

.min-block {
    margin-top: 10px;
    background-color: #495461;
    padding: 5px;
}

#content-actions .block:first-child .min-block {
    padding: 5px;
    background: none;
}

#content-actions .block:last-child .min-block {
    // margin-left: 20px;
    width: 230px;
}

.content-b {
    padding-top: 10px;
}

#content-actions .btn-flat {
    border: 1px solid #3C454F;
}

#content-actions .btn-flat:hover {
    background-color: #F5F5F5;
    color: #333;
}

#content-actions .modal {
    background-color: #495461;
    box-shadow: 1px 1px 8px #333333;
    display: none;
    margin-top: -359px;
    min-height: 260px;
    padding: 15px;
    position: absolute;
    right: 0;
    width: 360px;
}

.weapons p {
    margin: 0;
    text-align: center;
}

.img {
    margin-right: 25px;
    padding: 5px;
    cursor: pointer;
}

.img.active {
    box-shadow: 1px 1px 12px #FFFFFF;
}

.img:hover {
    box-shadow: 1px 1px 12px #FFFFFF;
}

.modal .img:last-child {
    margin-right: 0;
}

#main-circle {
    width: 70px;
    height: 70px;
    border-radius: 108px;
    border: 48px solid #2f2f2f;
    background-color: #fc3e6b;
    margin-top: 10px;
}

.main-circle-data {
    font-size: 28pt;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.title-b {
    font-size: 12pt;
}

#content-actions #content-actions-left .title-b {
    margin-top: 10px;
    color: #52A8EC;
}

#content-actions .block:last-child .title-b {
    color: #7EBD26;
    z-index: 10;
    // position: absolute;
}

.hr-b {
    background-color: #7EBD26;
    margin: 0;
}

#labels {
    position: absolute;
    width: 170px;
    height: 170px;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    margin-top: -200px;
}

.item {
    position: absolute;
    display:block;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    -webkit-transform-origin: 50% 330%;
    -moz-transform-origin: 50% 330%;
    -ms-transform-origin: 50% 330%;
    -o-transform-origin: 50% 330%;
    transform-origin: 50% 330%;
}

.label-b {
    cursor: pointer;
    display: block;
    height: 23px;
    left: 71px;
    position: absolute;
    top: 46px;
    width: 23px;
    -webkit-transform-origin: 50% 313%;
    -moz-transform-origin: 50% 313%;
    -ms-transform-origin: 50% 313%;
    -o-transform-origin: 50% 313%;
    transform-origin: 50% 313%;
}

#content-actions label[for=buildings] {
    background: url('/images/home.png') no-repeat top center;
    -webkit-transform:rotateZ(0deg);
    -moz-transform:rotateZ(0deg);
    -ms-transform:rotateZ(0deg);
    -o-transform:rotateZ(0deg);
    transform:rotateZ(0deg);
}

#content-actions label[for=life] {
    background: url('/images/life.png') no-repeat top center;
    -webkit-transform:rotateZ(-90deg);
    -moz-transform:rotateZ(-90deg);
    -ms-transform:rotateZ(-90deg);
    -o-transform:rotateZ(-90deg);
    transform:rotateZ(-90deg);
}

#content-actions label[for=tiles] {
    background: url('/images/tile.png') no-repeat top center;
    -webkit-transform:rotateZ(90deg);
    -moz-transform:rotateZ(90deg);
    -ms-transform:rotateZ(90deg);
    -o-transform:rotateZ(90deg);
    transform:rotateZ(90deg);
}

#content-actions label[for=level] {
    background: url('/images/user.png') no-repeat top center;
    -webkit-transform:rotateZ(180deg);
    -moz-transform:rotateZ(180deg);
    -ms-transform:rotateZ(180deg);
    -o-transform:rotateZ(180deg);
    transform:rotateZ(180deg);
}

#tooltip-b {
    text-align: center;
}

#tooltip-b span {
    color: #FC3E6B;
    font-size: 14pt;
}

/* ---------- TOP ACTIONS STYLES ----------  */

#top-actions {
    background-color: #F6F6F6;
    height: 60px;
    margin-top: 60px;
    position: absolute;
    top: 0;
    width: 1190px;
}

#top-actions .block:first-child {
    line-height: 60px;
}

#top-actions .block:last-child {
    line-height: 60px;
}

.title-t {
    padding: 0 15px;
}

#top-actions .standard-form {
    width: auto;
}

#top-actions .standard-form input {
    margin-top: 12px;
    margin-right: -1px;
}

#top-actions .standard-form label {
    margin-right: 10px;
}

#top-actions button {
    border: 0 none;
    padding: 9px 10px;
    margin-top: 12px;
}

.results {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-top: 0;
    margin-top: 47px;
    position: absolute;
    width: 196px;
    -webkit-transition: left 150ms ease-in-out;
    -moz-transition: left 150ms ease-in-out;
    -ms-transition: left 150ms ease-in-out;
    -o-transition: left 150ms ease-in-out;
    transition: left 150ms ease-in-out;
}

#top-actions li {
    padding: 0 10px;
    line-height: 40px;
}

.results li {
    cursor: pointer;
}

.results li:hover {
    background-color: #F6F6F6;
}

.resultShow {
    background-color: #FFFFFF;
    border-left: 5px solid #F6F6F6;
    border-bottom: 5px solid #F6F6F6;
    margin-top: 60px;
    padding: 0 10px;
    position: absolute;
    width: 255px;
    -webkit-transition: left 150ms ease-in-out;
    -moz-transition: left 150ms ease-in-out;
    -ms-transition: left 150ms ease-in-out;
    -o-transition: left 150ms ease-in-out;
    transition: left 150ms ease-in-out;
}

.resultShow button {
    padding: 5px !important;
}

/* ---------- RIGHT ACTIONS STYLES ---------- */

#right-actions {
    background-color: #F6F6F6;
    margin-top: 60px;
    position: absolute;
    top: 0;
    width: 120px;
}

#creator ul {
    margin-top: 10px;
}

#creator li {
    cursor: pointer;
    padding-top: 8px;
}

#creator li:hover, #creator li.active {
    box-shadow: 1px 1px 8px #58595B;
}

.crops p, .buildings p {
    margin: 0;
    text-align: center;
}

/* ---------- MAP/CANVAS STYLES ---------- */

section {
	background-color: #FFFFFF;
	min-height: 600px;
	box-shadow: 0 0 85px rgba(0, 0, 0, 0.3);
}

/* ---------- BUTTONS STYLES ---------- */

.buttons {
    z-index: 10;
}

.button {
    text-decoration: none;
    border: 1px solid #E1E1E8;
    border-left: 1px solid #FFFFFF;
    width: 60px;
    height: 48px;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    cursor: pointer;
}

.button:hover {
    background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: linear-gradient(to bottom, #e6e6e6, #ffffff);
    background-repeat: repeat-x;
}

.button.active {
    background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: linear-gradient(to bottom, #e6e6e6, #ffffff);
    background-repeat: repeat-x;
}

.buttons .button:first-child {
       border-left: 1px solid #E1E1E8;
}

.btn-flat {
    padding: 5px 10px;
    font-size: 10pt;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    -webkit-transition: all 0.30s ease-in-out 0s;
    -moz-transition: all 0.30s ease-in-out 0s;
    -ms-transition: all 0.30s ease-in-out 0s;
    -o-transition: all 0.30s ease-in-out 0s;
    transition: all 0.30s ease-in-out 0s;
    cursor: pointer;
}

.btn-flat-blue {
    background-color: #52A8EC;
}

.btn-flat-blue:hover {
    background-color: #333333;
}

.btn-flat-green {
    background-color: #7ebd26;
}

.btn-flat-green:hover {
    background-color: #333333;
}

.btn-flat-grey {
    background-color: #3C454F;
}

.btn-flat-grey:hover {
    background-color: #7ebd26;
}

.btn-flat-grey-light {
    background-color: #F6F6F6;
    color: #7ebd26;
}

.btn-flat-grey-light:hover {
    background-color: #7ebd26;
    color: #FFFFFF;
}

.btn-flat-red {
    background-color: #F6F6F6;
    color: #FF0000;
}

.btn-flat-red:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}

/* ---------- BUTTONS/ICONS STYLES ---------- */
.buttons button i{
  font-size: 20px;
}

/* ---------- TXT COLOR ---------- */

.txt-blue {
    color: #52A8EC;
}

.txt-green {
    color: #7ebd26;
}

/* ---------- FORMS STYLES ---------- */

#error {
    color:#FF0000;
}

.standard-form {
    width: 300px;
}

.standard-form .controls:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.standard-form label {
    float: left;
}

.standard-form input {
    float: right;
    margin-bottom: 20px !important;
    width: 180px;
    border: 1px solid #E5E5E5;
    color: #58595B;
    font-family: 'PT Sans';
    font-size: 10pt;
    padding: 8px;
}

.standard-form textarea {
    float: right;
    width: 180px;
    max-width: 180px;
    height: 100px;
    min-height: 100px;
    margin-bottom: 20px !important;
    border: 1px solid #E5E5E5;
    color: #58595B;
    font-family: 'PT Sans';
    font-size: 10pt;
    padding: 8px;
}

.standard-form select {
    float: right;
    width: 200px;
    margin-bottom: 20px !important;
    border: 1px solid #E5E5E5;
    color: #58595B;
    font-family: 'PT Sans';
    font-size: 10pt;
    padding: 8px;
    -webkit-appearance: none;
}

/* Content */

.content {
    padding: 20px 40px 20px;
}

.content a {
    text-decoration: none;
    color: #58595B;
}

/* ---------- CONTENT STYLES ---------- */
.objects-list {
    min-height: 195px;
}

.object-line {
    padding: 10px 0;
    width: 100%;
}

.object-line:first-child {
    padding-top: 0;
}

.object-line .object-cell {
    display: inline;
    display: table-cell;
    padding-right: 5px;
}

.object-line .object-cell:first-child {
    width: 225px;
}

#userLabel {
    border: 1px solid #E5E5E5;
    color: #7EBD26;
    font-family: 'PT Sans';
    padding: 8px;
}

#appObject_list{
    float:left;
    margin-left:50px;
}

.profileLabel {
    border: 1px solid #E5E5E5;
    color: #7EBD26;
    font-family: 'PT Sans';
    margin-bottom: 10px;
    padding: 8px;
}

/* Pagination */

.page_navigation {
    padding-top: 10px;
}

.page_navigation a {
    padding: 2px 5px;
    font-size: 10pt;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    -webkit-transition: all 0.30s ease-in-out 0s;
    -moz-transition: all 0.30s ease-in-out 0s;
    -ms-transition: all 0.30s ease-in-out 0s;
    -o-transition: all 0.30s ease-in-out 0s;
    transition: all 0.30s ease-in-out 0s;
    cursor: pointer;
    background-color: #E5E5E5;
}

.page_navigation a:hover {
    background-color: #7ebd26;
}

.page_navigation a.active_page,a.next_link,a.last_link,a.first_link,a.previous_link {
    background-color: #7ebd26;
}

.page_navigation a.no_more {
    background-color: #E5E5E5;
}

/* SOCIAL */

.content .contact:not(:last-child) {
    border-bottom: 1px solid #CFCFCF;
}

.contact {
    padding: 20px 0;
}
.icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.icons a.twitter { background: url(../../images/social/twitter.png) left top no-repeat; }
.icons a.email { background: url(../../images/social/email.png) left top no-repeat; }
.icons a.github { background: url(../../images/social/github.png) left top no-repeat; }

.icons a:hover { background-position: left -34px; }
