<div class="content clear-fix">
	<h2 class="title">
		Now, you  have to select your startup level.
		<span class="line"></span>
	</h2>
	<form action="/player/gamelevel" method="post" class="standard-form">
		<div class="controls">
		<label for="level">Level</label>
		<select name="level" required >
			<option value="easy">Easy</option>
			<option value="medium">Medium</option>
			<option value="hard">Hard</option>
		</select>
	</div>
		<hr/>
		<button type="submit" class="btn-flat btn-flat-green">Next</button>
	</form>
</div>